<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/Treino/css/estilo.css" rel="stylesheet">
    <!--
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
    -->
    <title>Blog</title>
</head>

<body ng-app="blog">
    <div class="pagina">
        <div class="inicial">
            <h1>Mundo Cinema</h1>
            <a href="sobre.html">Sobre</a>
            <a href="lançamento.html">Lançamentos</a>
            <a href="ranking.html">ranking</a>
            <a href="critica.html">críticas</a>
        </div>
    </div>



    <div class="card">
        <ul>
            <li><img src="/Treino/img/VingadoresUltimato.jpg" alt="">
                <article>"Vingadores: Ultimato" (2019) - US$ 2,798 bilhões - Os super-heróis da Marvel se unem para derrotar Thanos e
                    restaurar o universo após os eventos catastróficos de "Guerra Infinita".</article>
            </li>
            <li><img src="/Treino/img/Avatar.jpg" alt="">
                <article> "Avatar" (2009) - US$ 2,789 bilhões - Dirigido por James Cameron, este filme épico de ficção científica se passa
                    no planeta Pandora e segue a jornada de um ex-fuzileiro naval em uma missão para proteger o mundo
                    alienígena.</article>
            </li>
            <li><img src="/Treino/img/Titanic.jpg" alt="">
                <article>"Titanic" (1997) - US$ 2,187 bilhões - Uma história de romance épico e trágico ambientada no desastre real do navio
                    Titanic, dirigida por James Cameron, que segue o amor proibido entre Jack e Rose.
                </article>
            </li>
            <li><img src="/Treino/img/StarWars.jpg" alt="">
                <article>"Star Wars: O Despertar da Força" (2015) - US$ 2,068 bilhões - O retorno da famosa saga Star Wars, situada anos
                    após os eventos de "O Retorno de Jedi", apresentando novos personagens e a busca pela localização de
                    Luke Skywalker.</article>
            </li>
            <li><img src="/Treino/img/VingadoresGuerraInfinita.jpg" alt="">
                <article> "Vingadores: Guerra Infinita" (2018) - US$ 2,048 bilhões - Thanos busca reunir as Joias do Infinito para controlar
                    o universo, e os Vingadores se reúnem para tentar detê-lo, mas enfrentam sua derrota mais
                    devastadora.</article>
            </li>
            <li><img src="/Treino/img/Jurassic.jpg" alt="">
                <article>"Jurassic World" (2015) - US$ 1,670 bilhões - Um parque temático de dinossauros é reaberto na Ilha Nublar, mas as
                    coisas saem do controle quando uma nova espécie geneticamente modificada escapa e ameaça os
                    visitantes.
                </article>
            </li>
            <li><img src="/Treino/img/ReiLeao.jpg" alt="">
                <article>"O Rei Leão" (2019) - US$ 1,656 bilhões - Uma versão live-action do clássico animado da Disney, que retrata a
                    jornada de Simba, o leão jovem destinado a se tornar o rei das Terras do Reino.</article>
            </li>
            <li><img src="/Treino/img/OsVingadores.jpg" alt="">
                <article>"Os Vingadores" (2012)  - US$ 1,518 bilhões - A primeira reunião dos super-heróis da Marvel, onde Homem de Ferro,
                    Capitão América, Thor, Hulk e outros se unem para enfrentar Loki e seu exército.</article>
            </li>
            <li><img src="/Treino/img/velozes" alt="">
                <article>"Velozes e Furiosos 7" (2015) - US$ 1,515 bilhões - A equipe de Dom Toretto enfrenta um assassino implacável
                    enquanto tenta lidar com as consequências emocionais da perda de um de seus membros.
                </article>
            </li>
            <li><img src="/Treino/img/Frozen" alt="">
                <article>"Frozen: Uma Aventura Congelante" (2013) - US$ 1,280 bilhões - Uma animação da Disney sobre a jornada da princesa
                    Anna para encontrar sua irmã, Elsa, cujos poderes congelantes aprisionaram o reino em um inverno
                    eterno.
                </article>
            </li>

        </ul>
    </div>

    <footer>
        <div class="rodape">
            <ul>
                <h1>Social Media:</h1>
                <li><a href="#"><img src="../img/1499955335whatsapp-icon-logo-png.png" alt=""></a></li>
                <li><a href="#"><img src="../img/instagram.jfif" alt=""></a></li>
                <li><a href="#"><img src="../img/youtube.png" alt=""></a></li>
            </ul>
        </div>
    </footer>

</body>

</html>

</html>